@{
	Layout = "View/_Layout.cshtml";
	ViewBag.TestData = "View/_Layout.cshtml";
}
 <div class="row">
 <div class="col-md-12 text-center">
    <br/>
    <br/>
    <br/>

    <h1><p style="font-size:80px;">404 Page Not Found!</p> <h1>   
    <small><a href="@Model.BaseUrl">click here to go back</a></small>

    <br/>
    <br/>
    <br/>
 </div>
 </div>